

.product-main {
  .banner-main {
    .banner-area {
      padding: 100px 0;
    }

    .banner-img {
      position: relative;
    }

    .banner-content {
      position: absolute;
      z-index: 66;
      top: 82px;
      left: 35px;
    }

    .banner-content h5 {
      font-size: 12px;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }

    .banner-content h3 {
      font-size: 24px;
      font-weight: 500;
      font-family: Poppins, sans-serif;
      margin: 5px 0 15px;
    }

    .banner-content a {
      display: inline-block;
      font-weight: 500;
      color: #333;
      border-bottom: 1px solid #000;
      transition: 0.4s;
    }

    .banner-content a:hover {
      text-decoration: none;
      color: #ffc107;
      border-color: #ffc107;
    }
  }

  .banner-furniture {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

    .banner-offer {
      position: relative;

      &-content {
        position: absolute;
      }
    }
  }

  .service-area {
    display: flex;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    padding-bottom: 100px;
    padding-top: 100px;
    align-items: center;
    flex-wrap: wrap;

    .service {
      display: flex;
      align-items: center;
      padding: 10px 0;

      &:hover {
        .service-image {
          background-color: #e97730;
        }
      }

      .service-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #f2f2f2;
        display: inline-block;
        line-height: 60px;
        text-align: center;
        margin-right: 20px;
        transition: 0.4s;
      }

      .content {
        h3 {
          font-size: 18px;
          margin: 0 0 4px;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
