@import '../../View/Layout/Styles/Variables/style';

.button-main {
  background-color: $primary-color;
  color: $light-bg-color;
  padding: 12px 15px;
  border-radius: 6px !important;
  font-weight: 600;
  border: 2px solid transparent !important;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    margin-left: 4px;
  }

  &:hover {
    opacity: 0.9;
  }

  &.primary {
    background-color: $primary-color !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: lighten($primary-color, 6%) !important;
      border-color: lighten($primary-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($primary-color, 6%) !important;
      border-color: darken($primary-color, 6%) !important;
    }
  }

  &.wide {
    justify-content: space-between;
    color: $primary-color !important;
    background-color: transparent !important;
    border: 2px solid $primary-color !important;
    width: 100%;

    svg {
      font-size: 20px;
    }
  }

  &.secondary {
    background-color: $secondary-color !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: lighten($secondary-color, 6%) !important;
      border-color: lighten($secondary-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($secondary-color, 6%) !important;
      border-color: darken($secondary-color, 6%) !important;
    }
  }

  &.accent {
    background-color: #00a45b !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: lighten($accent-color, 6%) !important;
      border-color: lighten($accent-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($accent-color, 6%) !important;
      border-color: darken($accent-color, 6%) !important;
    }
  }

  &.dark {
    background-color: #1a1a1a !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: lighten($secondary-color, 6%) !important;
      border-color: lighten($secondary-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($secondary-color, 6%) !important;
      border-color: darken($secondary-color, 6%) !important;
    }
  }

  &.light {
    background-color: #e5e5e5 !important;
    color: #000 !important;

    &:hover,
    &:active {
      background-color: darken($light-bg-color, 6%) !important;
      border-color: darken($light-bg-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($light-bg-color, 10%) !important;
      border-color: darken($light-bg-color, 10%) !important;
    }
  }

  &.success {
    background-color: #28a745 !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: lighten($success-color, 6%) !important;
      border-color: lighten($success-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($success-color, 6%) !important;
      border-color: darken($success-color, 6%) !important;
    }
  }

  &.danger {
    background-color: $danger-color !important;
    color: $light-bg-color !important;

    &:hover,
    &:active {
      background-color: lighten($danger-color, 6%) !important;
      border-color: lighten($danger-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($danger-color, 6%) !important;
      border-color: darken($danger-color, 6%) !important;
    }
  }

  &.warning {
    background-color: #ffc107 !important;
    color: $secondary-color !important;

    &:hover,
    &:active {
      background-color: lighten($warning-color, 6%) !important;
      border-color: lighten($warning-color, 6%) !important;
    }

    &:hover:active,
    &:focus,
    &.active {
      background-color: darken($warning-color, 6%) !important;
      border-color: darken($warning-color, 6%) !important;
    }
  }

  &.bordered {
    background-color: transparent !important;
    border: 2px solid $primary-color !important;
    color: $text-color;
  }

  &.no-border {
    background-color: transparent !important;
    border: none !important;
    color: $secondary-color !important;
    text-decoration: $primary-color underline;
  }

  &.disabled {
    background-color: lighten($text-grey-color, 20%) !important;
    color: $secondary-color !important;
    cursor: not-allowed !important;

    &:hover {
      opacity: 1 !important;
    }

    &:focus {
      outline: transparent !important;
    }
  }

  &.edit-btn {
    background-color: transparent !important;
    color: #595c97 !important;
  }
}
