@import '../Styles/Variables/style';

.layout-main {
  .layout-top-bar {
    .menu-handler {
      display: none;
    }
  }

  .main-content {
    min-height: 90vh;
    background-color: $light-bg-color;
  }

  .layout-footer {
    width: 100%;
  }
}
